[submodule "hugo"]
	path = hugo
	url = git@github.com:gohugoio/hugo
[submodule "hugo-jameslazo.com"]
	path = hugo-jameslazo.com
	url = git@github.com:jameslazo/hugo-jameslazo.com
	branch = main
[submodule "awesome-mcp-clients"]
	path = awesome-mcp-clients
	url = git@github.com:jameslazo/awesome-mcp-clients
